<div class="wild-game-rules">
  <div id="border-rules"><label for="rules-hider-checker" id="rules-hider">Правила</label></div>
  <input type="checkbox" id="rules-hider-checker">
  <p id="rules-text">
    Игрок набирает текст в область для ввода, после чего из текста удалятся все знаки препинания, если 
    таковы были, и все заглавные буквы будут заменены на прописные. Каждое слово вводится по одному, при
     этом вводимое слово выделяется жирным шрифтом. Ввод каждого слова подтверждается ПРОБЕЛОМ(SPACE), 
     при этом в поле для ввода перед словом не должно быть ничего. Если вводимые символы совподают с 
     символами из вводимого слова, то эти символы в слове будут выделены зеленым цветом, а если в
      слове допустили ошибку - оно всё выделится красным цветом.
  </p>
</div>
<div class="game-space">
  <router-outlet></router-outlet>
</div>