<div id="game-rules">
  <div id="first-rules">
    <h4 class="mode-title">Вольный Режим</h4>
    <p>Вольный режим - режим игры, в котором игрок сам вводит текст, который потом будет печатать на время. При этом все знаки препинания будут удалены из текста, слова нужно вводить по одному, чтобы ввести слово подтвердить для ввода необходимо нажать после его печати пробел(SPACE), при этом, если введённое слово введенное неверно - оно не примется и нужно исправить ошибку, если слово введено неверно - оно выделится красным цветом. Каждый правильно введённый символ будет загораться зеленым цветом. Активное для ввода слово выделяется жирным.</p>
  </div>
  <div id="rules-border"></div>
  <div id="second-rules">
    <h4 class="mode-title">Режим Выживания</h4>
    <p>Режим выживания - режим, в котором у игрока на экране появляется случайно слово, на ввод которого ему даётся 2 секунды. Если игрок не успевает ввести его за отведенное время - у него отнимается одна из трех данных на старте жизней, когда игрок теряет все 3 жизни - игра заканчивается. Подтверждением ввода слова является клавиша пробел(SPACE), при этом перед словом не должны находиться никакие символы. Данный режим является соревновательным, топ - 100 игроков по количеству введённых слов попадают в таблицу лидеров.</p>
  </div>
</div>